.promo {
    background: linear-gradient( bottom right, black, rgba(0, 0, 0, 0.6)), url('image/texture.png') fixed, url('image/promo-image.png') fixed;
    background-repeat: no-repeat;
    background-position: center, center, center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    
}
.header {
    display: flex;
    height: rem(90px);
    @include tablets() {
        justify-content: space-between;
    }
    .logo {
        width: rem(92px);
        height: rem(69px);
        margin-top: rem(12px);
        margin-left: 2.875rem;
        @include tablets() {
            margin-left: 0;
            width: rem(92px);
            height: rem(69px);
        }
        @include phones() {
            margin-left: 7%;
            margin-top: 4%;
        }
    }
}
.menu__item-link {
    text-decoration: none;
    color: #ffffff;
    font-family: "ubuntumedium", sans-serif;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    transition-duration: 1s;
    
    &:hover {
        text-decoration: underline;
    }
}




.menu {
    width: 73%;
    margin-top: 1.3875rem;
    margin-left: 1.2rem;

    @include tablets() {
        display: none;
    }
    .menu__list {
        display: flex;
        align-items: center;
        margin-top: rem(16px);
        margin-left: rem(37px);
        .menu__item {
            display: flex;
            margin-right: rem(14px);
            &:after {
                content: "";
                width: rem(4px);
                height: rem(4px);
                border-radius: 50%;
                background-color: white;
                margin-top: rem(5px);
                margin-right: rem(3px);
                margin-left: rem(14px);
            }
        }
        .menu__item {
            &:nth-child(7) {
                &:after {
                    display: none;
                }
            }
        }
        
        }
}
.menu__item-button {
    @include tablets() {
        display: flex;
        margin-top: rem(27px);
        width: 22.5%;
    }
    @include phones() {
        width: 35.5%;
    }
}
.menu__gamburger {
    @include tablets() {
        width: rem(31px);
        height: rem(36px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6%;
        
    }
}
.menu__gamburger-style {
    @include tablets() {
        width: rem(24px);
        height: rem(4px);
        background-color: #ffffff;
        border-radius: 5px;
        margin-bottom: rem(5px);
    }
}

.menu__item-button .menu__item-button-link {
    width: rem(97px);
    height: rem(35px);
    background-color: #e45028;
    border-radius: rem(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-family: "ubuntumedium", sans-serif;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s;
    margin-left: -17%;
    margin-top: 29%;
    &:hover {
        transform: scale(1.06);
        
    }
    @include tablets() {
        width: 7.0625rem;
        height: 2.4875rem;
        margin-right: 16%;
        margin-top: 4%;
        margin-left: 6%;
    }
}
.promo__info {
    @include tablets() {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    @include phones() {
        margin-left: -2%;
        margin-top: 0%;
    }
}
.promo__block {
    display: flex;
    margin-top: 20px;
    position: relative;
    @include tablets() {
        flex-direction: column;
        margin-left: 0;
        margin-top: 9%;
    }
    .promo__image {
        width: rem(451px);
        height: rem(424px);
        margin-top: rem(-32px);
        margin-left: 3.375rem;
        @include tablets() {
            margin-left: 20%;
            margin-bottom: 7%;
        }
        @include phones() {
            margin-top: 0%;
            margin-left: 11%;
        }
    }
    .promo__drops {
        background-image: url('image/promo-drops.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: rem(451px);
        height: rem(241px);
        left: 0;
        top: 0;
        margin-left: rem(4px);
        margin-top: rem(34px);
        position: absolute;
    }
    .promo__info-text {
        margin: rem(0px);
        width: 406px;
        color: #f9b43b;
        font-family: "gagalinregular";
        font-size: rem(70px);
        font-weight: 400;
        margin-top: rem(105px);
        margin-left: rem(12px);
        letter-spacing: rem(1.2px);
        @include tablets() {
            margin-top: 0%;
        }
        @include phones() {
            font-size: 4.675rem;
            margin-top: 0.7%;
        }
    }
    .promo__info-description {
        width: rem(406px);
        color: #ffffff;
        font-family: "lifehackmedium";
        font-size: rem(65px);
        font-weight: 500;
        letter-spacing: rem(-1.63px);
        line-height: rem(60px);
        margin-top: rem(22px);
        margin-left: rem(13px);
    }
}
.pagination {
    position: fixed;
    top: rem(91px);
    right: rem(48px);
    width: rem(16px);
    height: rem(200px);
    z-index: 60;
    .pagination__item {
        margin-bottom: rem(15px);
            .pagination__item-style {
                width: rem(6px);
                height: rem(6px);
                margin-left: rem(4px);
                margin-top: rem(4px);
                border-radius: 50%;
                background-color: #ffffff;  
            }
    }
}
.pagination__item:first-child {
    margin-bottom: rem(11px);
}
.pagination__item-active {
    width: rem(14px);
    height: rem(14px);
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-bottom: rem(11px);
    margin-left: rem(-1px);
}
.promo__scroll {
    width: rem(29px);
    height: rem(14px);

    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 48.5%;
    margin-bottom: rem(41px);
}