.promo {
  min-width: 1100px;
  min-height: 650px;
  background-image: url("../image/promo-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }

.header {
  height: 90px; }

.header__logo {
  width: 92px;
  height: 69px;
  margin-top: 12px;
  margin-left: 78px; }

.header__menu-item-link {
  text-decoration: none;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }

.header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 14px; }

.header__menu-list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px;
  margin-left: 37px; }

.header__menu {
  width: 89%;
  margin-top: 11px;
  margin-left: 31px; }

.header__menu-item-dat {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: white;
  margin-top: 5px;
  margin-right: 3px;
  margin-left: 14px; }

.header__menu-item-button {
  width: 97px;
  height: 35px;
  background-color: #e45028;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase; }

.promo__image {
  width: 417px;
  height: 424px;
  position: relative;
  margin-top: -20px;
  margin-left: 130px; }

.promo__drops {
  background-image: url("../image/promo-drops.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 451px;
  height: 241px;
  left: 0;
  top: 0;
  margin-left: 336px;
  margin-top: 144px;
  position: absolute; }

.promo__info-text {
  margin: 0px;
  width: 406px;
  color: #f9b43b;
  font-family: "Gagalin";
  font-size: 70px;
  font-weight: 400;
  margin-top: 113px;
  margin-left: 12px;
  letter-spacing: 1.2px; }

.promo__info-description {
  width: 406px;
  color: #ffffff;
  font-family: "Lifehack";
  font-size: 65px;
  font-weight: 500;
  letter-spacing: -1.63px;
  line-height: 60px;
  margin-top: 22px;
  margin-left: 13px; }

.pagination {
  width: 30px;
  height: 200px;
  margin-bottom: 351px;
  margin-right: 48px; }
  .pagination .pagination__item {
    margin-bottom: 15px; }
    .pagination .pagination__item .pagination__item-style {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ffffff; }

.pagination__item-style-active {
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  background-color: transparent; }
