.setmenu {
    background: url('image/bg-setmenu.png') no-repeat center / cover;
    display: flex;
    justify-content: space-between;
    &__title {
        color: #ffffff;
        font-family: "gagalinregular";
        font-size: rem(72px);
        font-weight: 400;
        line-height: rem(64px);
        margin-top: rem(107px);
        margin-left: rem(95px);
        @include tablets() {
            margin-top: 15%;
            margin-left: 3%;
            font-size: 5.1rem;
        }
        @include phones() {
            margin-top: 11%;
            margin-left: 13%;
            font-size: 3.7rem;
        }

    }
}
.setmenu__accordeon-list {
    display: flex;
}
.setmenu__accordeon-item {
    width: 7.2vw;;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 10;
    @include tablets() {
        width: 10.4vw;
    }
    @include phones() {
        width: 16.7vw;
    }
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(20, 20, 20, 0.7);
        }
    
}
.setmenu__accordeon-item:first-child {
    background: center / cover  no-repeat url('image/bg1.png');
}
.setmenu__accordeon-item:nth-child(2) {
    background: center / cover  no-repeat url('image/bg2.png');
}
.setmenu__accordeon-item:last-child {
    background: center / cover  no-repeat url('image/bg3.png');
}

.setmenu__accordeon-item-name {
    color: #ffffff;
    font-family: "gagalinregular";
    font-size: rem(40px);
    font-weight: 400;
    transform: rotate(-90deg);
    z-index: 20;
    white-space: nowrap;
    margin-top: 84vh;
    @include tablets() {
        margin-top: 90vh;
        letter-spacing: 0.2rem;
    }
    @include phones() {
        margin-top: 84.7vh;
        font-size: 2.7rem;
    }
}
.setmenu__accordeon-item-drop {
    display: none;
}