.video {
    background: url('image/bg-video.png') no-repeat center / cover;
    display: flex;
    justify-content: center;
    &__title {
        color: #2f3234;
        font-family: "gagalinregular";
        font-size: rem(61px);
        font-weight: 400;
        margin-top: 10.6vh;

    }
}
